{% extends 'base.html' %}
{% block title %}
Login Page
{% endblock %}

{% block content %}

<body class="text-center">
    <div class="container">
        <h1 class="h3 mb-3 font-weight-normal">
            Add your details to access your account
        </h1>
        <br>
        <form method="POST" class="form-register" style="color:white">
<!--            we are using this to protect the website to external attacks-->
            {{ form.hidden_tag() }}

            {{ form.username.label }}
            {{ form.username(class="form-control", placeholder="Username") }}

            {{ form.password_hash.label }}
            {{ form.password_hash(class="form-control", placeholder="password") }}
            <br>
            {{ form.submit(class="btn btn-lg bt-block btn-primary") }}
            <br>

            <div class="checkbok mb-3">
                <br>
                <h6>If you don't have an account you can create it in here:</h6>
                <br>
                <a class="btn btn-primary" href="{{ url_for('register_page') }}" role="button">Register</a>
            </div>


        </form>
    </div>
</body>


{% endblock %}
